/* Default styles for the dropdown */
.dropdown-menu {
    width: 91.666667%; /* w-11/12 */
    max-width: 40rem;
    height: 26rem;
  }

  /* Fade-in animation */
  .animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Mobile-specific styles */
  @media (max-width: 768px) {
    .dropdown-menu {
      max-width: 20rem; /* Smaller width for mobile */
      height: 20rem; /* Smaller height for mobile */
    }

    .dropdown-images img {
      height: 10rem; /* Adjust image height to fit smaller dropdown */
      width: 20rem;
    }
  }
